@layer base {
    :root {
        --background: hsl(0 0% 100%);
        --foreground: hsl(240 10% 3.9%);
        --primary: hsl(12 76% 61%);
        --primary-foreground: hsl(0 0% 98%);
        --secondary: hsl(27 87% 67%);
        --secondary-foreground: hsl(0 0% 98%);
        --tertiary: hsl(43 74% 66%);
        --tertiary-foreground: hsl(240 5.9% 10%);
        --accent: hsl(240 4.8% 95.9%);
        --accent-foreground: hsl(240 5.9% 10%);
        --border: hsl(240 5.9% 90%);
    }

    [data-theme="dark"] {
        --background: hsl(240 10% 3.9%);
        --foreground: hsl(0 0% 98%);
        --primary: hsl(12 76% 61%);
        --primary-foreground: hsl(240 5.9% 10%);
        --secondary: hsl(27 87% 67%);
        --secondary-foreground: hsl(0 0% 98%);
        --tertiary: hsl(43 74% 66%);
        --tertiary-foreground: hsl(0 0% 98%);
        --accent: hsl(240 3.7% 15.9%);
        --accent-foreground: hsl(0 0% 98%);
        --border: hsl(240 3.7% 15.9%);
    }
}

@layer components {
    body {
        background-color: var(--background);
        color: var(--foreground);
        transition: background-color 0.5s ease, color 0.5s ease;
    }
}
