<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{% block title %}Prism{% endblock %}</title>
        {# <link rel="icon" href="{{ asset('favicon.ico') }}" type="image/x-icon">> #}
        {% block stylesheets %}
        {% endblock %}
    </head>
    <body>
        <header>
            {% block header %}
                <h1>Prism</h1>
            {% endblock %}
        </header>
        <main>
            {% block body %}{% endblock %}
        </main>
        <footer>
            {% block footer %}
                <p>© {{ 'now'|date('Y') }} Prism. Tous droits réservés.</p>
            {% endblock %}
        </footer>
        {% block javascripts %}
        {% endblock %}
    </body>
</html>
